<% if build.failed? %>
  <img src="/red_bl.gif" style="height:16px">
<% else %>
  <img src="/green.gif" style="height:16px">
<% end %>
<span class="date"><%= pretty_time(build.finished_at) %></span> &raquo; Build <a href="<%= joe.url %>/commit/<%= build.sha %>"><%= build.short_sha %></a>
<span class="<%= build.status %>">(<%= build.status %>)</span><span>&nbsp;in <%= "%.2f" % (build.finished_at.to_f - build.started_at.to_f) %> Seconds</span>
<span>(</span>
<span class="total"> <%= "#{build.total}" %> : </span>
<span class="pass"> <%= "#{build.passes}" %> : </span>
<span class="fail"> <%= "#{build.fails}" %> </span>
<span>)</span>
